<fieldset>
  <legend><h2>Sign Up for MTG Manager Pro: </h2></legend>
  <form action="/signup" method="POST">
    <p>Username: <input type="text" name="username" placeholder="Username"></p>
    <p>DCI Number: <input type="text" name="dci_number" placeholder="DCI Number"> (Leave blank if you don't have one)</p>
    <p>Password: <input type="password" name="password" placeholder="Password"></p>
    <p>Confirm Password: <input type="password" name="confirm_password" placeholder="Confirm Password"></p>
    <input type="submit" value="Sign Up">
  </form>
</fieldset
