<fieldset>
  <legend><h2>Sign Up for MTG Manager Pro: </h2></legend>

  <form action="/signup" method="POST">
    <h4>Username: <input type="text" name="username" placeholder="Username"></h4>
    <h4>DCI Number: <input type="text" name="dci_number" placeholder="DCI Number"> (Leave blank if you don't have one)</h4>
    <h4>Password: <input type="password" name="password" placeholder="Password"></h4>
    <h4>Confirm Password: <input type="password" name="confirm_password" placeholder="Confirm Password"></h4>
    <input type="submit" value="Create Account">
  </form>

</fieldset
