<h1>Welcome to Shopping List</h1>

<h3>Please Log In</h3>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username"></br>
  <input type="password" name="password" placeholder="Password"></br>
  <input id="submit" type="submit" value="Log In">
</form>
