<fieldset>
  <legend><h1>Welcome to Magic Manager Pro</h1></legend>

  <a href="/signup">Create an Account</a>

  </br></br>

  <a href="/login">Log into an existing Account</a>

  </br></br>

</fieldset>
