<fieldset>
  <legend><h1>Welcome to Magic Manager Pro</h1></legend>
  
  <form method="get" action="/login">
    <input type="submit" value="Sign In">
  </form>

  <form method="get" action="/signup">
    <input type="submit" value="Create an Account">
  </form>

</fieldset>
